/* You can add global styles to this file, and also import other style files */


.p-39{
  padding: 39px;
}

.pl-20{
  padding-left: 20px;
}

.pr-10{
  padding-right: 10px;
}

.pt-38{
  padding-top: 38px;
}

.pt-34{
  padding-top: 34px;
}

.pt-30{
  padding-top: 30px;
}

.pt-35{
  padding-top: 35px;
}

.pb-10{
  padding-bottom: 10px;;
}

.pb-25{
  padding-bottom: 25px;
}

.pt-25{
  padding-top: 25px;
}

.pr-20{
  padding-right: 20px;
}

.pr-40{
  padding-right: 40px;
}

.mt-40{
  margin-top: 40px;
}

.mt-10vh{
  margin-top: 10vh;
}

.mt-6vh{
  margin-top: 6vh;
}
.mt-35{
  margin-top: 35px;
}

.mt-23{
  margin-top: 23px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-40{
  margin-bottom: 40px;
}

.ml-22{
  margin-left: 22px;
}

.ml-40{
  margin-left: 40px;
}
.mr-40{
  margin-right: 40px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Work sans', sans-serif; }

.modal-custom .mat-dialog-container {
  overflow: hidden;
  border-radius: 24px;
  padding: 0px;
}

.btn-sin-focus:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.font-danger{
  --text-color: #F21145;
}

.input-focus-error {
  outline: none !important;
  border-color: #F21145;
  box-shadow: 0 0 10px #F21145;
}

.btn-sin-transicion{
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

.btn-sin-borde{
  border: none;
  background:none;
}

body .ui-dropdown:not(.ui-state-disabled):hover {
  border-color: #ced4da !important;
}

body .ui-dropdown{
  display: inline-grid;
}

.img-en-fila{
  white-space:nowrap;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table{
  padding: 5%;
  padding-top: 0% !important;
  padding-bottom: 1% !important;
  width: 100%;

}

.table-list-icon {
  color: #BBBDBA;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.table-list-icon svg {
  color: #BBBDBA;
}

.hide{
  display: none;
}

.mat-header-cell.text-center { text-align: center; }


mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}

mat-sidenav{
  background-color: white !important;
}


/* filter controls */
.title-page{
  color: #3f51b5;
}

.search-div{
  margin: 10px;
  padding-left: 5%;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0,0,0,.12);

}
.search-form-field{
  margin-bottom: 1% ;
  width: 73%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix{
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
  padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
  height: 32px;
  width: 32px;
}

.mat-paginator-container {
  margin-right: 30px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  text-align: center !important;
  font-size: 16px;
}


.mat-sort-header-container {
  justify-content:center;
}

.modal-create{
  min-width: 300px;
}

.align-buttom{
  float: right;
}

.mat-card{
  box-shadow: 0px 0px 0px 0px !important;
}

table.mat-table{
  width: 100% !important;
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

