<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>ATM</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']"><mat-icon class="menu-icon">home</mat-icon>Home</a>
      <a mat-list-item [routerLink]="['atm-browser']"><mat-icon class="menu-icon">person_pin</mat-icon>Red ATM</a>
      <!--     <a mat-list-item [routerLink]="['state-browser']"><mat-icon class="menu-icon">location_on</mat-icon>Estados</a>
           <a mat-list-item [routerLink]="['city-browser']"><mat-icon class="menu-icon">where_to_vote</mat-icon>Ciudades</a>
     -->
      <a mat-list-item (click)="logout()"><mat-icon class="menu-icon">settings_power</mat-icon>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
<!--
      <span class="title-header">{{username}} <mat-icon class="header-icon">how_to_reg</mat-icon></span>
-->
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
