.sidenav-container {
  height: 100%;
  background-color: white;
}

.sidenav {
  width: 200px;
  background-color: #F8FAFB;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: flex-end;
}
.menu-icon{
  margin-right: 1%
}
.title-header{
  justify-content: flex-end;
  margin-right: 5%;
}

.header-icon{
  margin-left: 2%
}
