<mat-card class="shipping-card">

  <mat-card-header>
    <div class="row">
      <div class="col">
        <mat-icon style="float: right" (click)="close()">clear</mat-icon>
      </div>
    </div>
    <mat-card-title><div class="title-page"><h4>{{data.message}}?</h4></div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col">
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" class="align-buttom"(click)="deleteClient()" >Aceptar</button>
  </mat-card-actions>

</mat-card>
