
<div class="container-sm table-responsive">
  <div class="search-div">
    <div class="title-page"><h3>Atm</h3></div>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button (click)="advancedFilter()">
      <mat-icon >add</mat-icon>Busqueda Avanzada
    </button>
  </div>


  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="tableData">
    <!-- Id Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Street</th>
      <td mat-cell *matCellDef="let row">{{row.streetAtm}}</td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance</th>
      <td mat-cell *matCellDef="let row">{{row.distance}}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centre">City</th>
      <td mat-cell *matCellDef="let row">{{row.cityAtm}}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="actions" stickyEnd>>
      <th mat-header-cell *matHeaderCellDef >Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="viewMaps(row)"><mat-icon style="margin-right: 4%" class="table-list-icon">gps_fixed</mat-icon></button>
         <button mat-icon-button (click)="viewAtmDatails(row)"><mat-icon style="margin-right: 3%" class="table-list-icon">visibility</mat-icon></button>
        <!--      <button mat-icon-button (click)="updateClient(row)" ><mat-icon style="margin-right: 2%" class="table-list-icon">create</mat-icon></button>
     -->      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="tableData?.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 25, 50, 100, 250]" showFirstLastButtons>
  </mat-paginator>
</div>
