.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 378px;
}

.form-login {
  background: #F8FAFB;
  padding: 42px;
}

.form-title-login {
  border-bottom: 2px solid #d0dbe0;
  margin-left: 0px;
  margin-right: 0px;
}

.pb-logo {
  padding-bottom: 13px;
}

.pl-title {
  padding-left: 0px;
}

.passRecover {
  margin-top: 20px;
  text-color: black;
  cursor: pointer;
}

.pl-title h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.estilo-usuario {
  margin-top: 16px;
}

.estilo-usuario label,
.estilo-clave label {
  font-weight: bold;
  font-size: 12px;
  color: #9B9B9B;
  margin-bottom: 0px;
}

.estilo-usuario input,
.estilo-clave input {
  height: 54px;
}

.estilo-ingresar {
  margin-top: 24px;
}

.btn-ingresar {
  background: #3f51b5;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 164px;
  height: 54px;
  border-radius: 7px;
}

input[type='text'] {
  min-height: 45px;
  line-height: 45px;
  border-radius: 6px;
}

input[type='text']::-webkit-input-placeholder {
  font-size: 16px;
  vertical-align: middle;
  color: #788995
}
