<div class="row">
  <div class="col-md-12">

    <div class="abs-center">
      <form autocomplete="off" [formGroup]="form" (ngSubmit)="login()" class="form form-login">

        <div class="row align-items-center form-title-login">
          <div class="col-md-1 pl-0 ml-0 pb-logo">
          </div>
          <div class="col-md-2 pl-0 ml-0 pb-logo">
            <img src="assets/images/icon/account.svg" alt="">
          </div>
          <div class="col-md-8 pl-title">
            <h4>
              INICIO DE SESIÓN
            </h4>
          </div>
        </div>

        <div class="row form-group estilo-usuario">
          <div class="col-md-12">
            <label for="usuario">USUARIO</label>
            <input type="text"  id="usuario" class="form-control"  [ngClass]="{'input-focus-error': (checkError)}"
                   placeholder="Ingresar usuario" formControlName= "username" required
                    minlength="1">
            <small *ngIf="checkError" class="form-text text-danger font-danger" id="campoErroneoUser">Usuario erróneo. Verifique sus datos</small>
<!--            <small *ngIf="username.invalid && username.touched" class="form-text text-danger font-danger" id="campoObligatorioUser">Campo obligatorio</small>-->
          </div>
        </div>
        <div class="row form-group estilo-clave">
          <div class="col-md-12">
            <label for="clave">CONTRASEÑA</label>
            <input type="password" name="clave" id="clave" class="form-control " [ngClass]="{'input-focus-error': (checkError) }"
                   placeholder="Ingresar contraseña" formControlName="password" required formControlName= "username"
                    minlength="1">
<!--            <small *ngIf="password.invalid && password.touched" class="form-text text-danger font-danger" id="campoObligatorioClave">Campo obligatorio</small>-->
            <small *ngIf="checkError" class="form-text text-danger font-danger" id="campoErroneoPass">Password erróneo. Verifique sus datos</small>

          </div>
        </div>
        <div class="row estilo-ingresar">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-ingresar btn-sin-focus" [disabled]="form.invalid"
                    [ngStyle]="{'cursor': form.invalid ? 'no-drop' : 'pointer' }" id="ingresar">INGRESAR</button>
          </div>
        </div>

        <div class="row text-center passRecover"  >
          <div class="col-md-12">
            <a (click)="passRecover()"  id="recuperarContrasena" style="color: #9B9B9B"> Recuperar Contraseña</a>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
