.browser-container{
  background: white;
  padding: 3vw;
  height: calc(100vh - 6.1vw);
}

.browser-content{

}

.browser-header{

}

.browser-table-filter{
  display: inline-block;
  width: 50%;
}

.browser-table-filter .mat-form-field{
  width: 100%;
}

.inner-addon {
  position: relative;
}

.left-addon {
  left: 0px;
}

.buscador {
  max-width: 60em;
  float: left;
  padding: 8px;
  margin: 10px 0px 0px 10px;
  border-radius: 25px;
  border: 1px solid #D3D3D3;
  font-size: 14px;
  font-weight: 100;
  box-shadow: none;
}
