<div class="browser-container">

  <div class="browser-content">

    <div class="browser-header">
      <div class="browser-table-filter inner-addon left-addon">
         <input type="text" aria-label="Search"  (keyup)="applyFilter($event)" class="buscador" >
      </div>
    </div>

  </div>

</div>
