<img src="assets/images/icon/remove-symbol.svg" alt="Cierre modal de confirmacion" style="height: 16px; float: right; margin-bottom: 10px" id="cerrar" (click)="closeModal()">
<google-map [center]="position">
  <map-marker
  [position]="position"
  [label]="label"
  [title]="title"></map-marker>
</google-map>
