<div style="max-width: 70%; max-height: 70%; min-height: 70%; min-width: 70%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
margin-left: 15%;
margin-top: 10%"
>
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
  </div>
</div>
